.sidebar {
    position: fixed;
    width: 250px;
    height: 100vw;
    border-right: 1px solid #111111;
    background-image: url('https://images.pexels.com/photos/1547836/pexels-photo-1547836.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
}

.card {
    position: fixed;
    width: 250px;
    height: 80vw;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.side__img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
}

.side__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.side__name {
    color: #FFFFFF;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 250px;
}

nav a {
    display: block;
    width: 250px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    box-sizing: border-box;
}

nav a:hover {
    background: #0dc344;
}

nav ion-icon {
    padding-right: 10px;
}

body {
    background-color: #025930da;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, #111927 0, transparent 55%;
}