.sidebar {
    position: fixed;
    width: 250px;
    height: 100vw;
    border-right: 1px solid #111111;
    background-image: url('https://images.pexels.com/photos/1547836/pexels-photo-1547836.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
}

.card {
    position: fixed;
    width: 250px;
    height: 80vw;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.side__img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 40px;
}

.side__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.side__name {
    border-radius: 5px;
    background: #d0c330;
    color: #1b1a1a;
    padding: 2.5px 8px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 250px;
}

nav a {
    display: block;
    width: 250px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    box-sizing: border-box;
}

nav a:hover {
    background: #d0c330;
}

nav ion-icon {
    padding-right: 10px;
}

.main {
    position: fixed;
    margin-left: 250px;
    width: 83.7vw;
    height: 100vh;
    background-color: #111927;
    background-image: 
        radial-gradient(at 62% 53%, hsl(162.00, 77%, 20%) 0, transparent 70%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%)
}

.main__area {
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

.topo__fatura {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #e0eb92b4;
}

.topo__fatura h1 {
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
}

.text-topo__fatura {
    font-weight: bold;
    font-size: 22px;
}

.filter {
    display: inline-flex;
    align-items: center;
    margin-left: 525px;
}

.add__fatura {
    position: relative;
    display: inline-flex;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 50px;
    background: #d0c330;
    color: white; 
    cursor: pointer; 
    transition: 0.5s;
}

.add__fatura:hover {
    background: #66881e;
}

.icon__add {
    font-size: 30px;
    margin-right: 13px;
    pointer-events: none;
}

.tela {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teladefundo {
    position: relative;
    width: 900px;
    height: 540px;
    border-radius: 10px;
    margin-top: 25px;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(251, 251, 251, 0.404);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 5px 5px #7b7a7a50;
    display: inline-flex;
    align-content: center;
    justify-content: center;
}

.todo__list {
    position: absolute;
    margin-top: 10px;
}

.todo {
    width: 870px;
    height: 70px;
    border: 1px solid black;
    border-radius: 5px;
    background: #111927;
    color: #FFFFFF;
}

.todo aside {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px 15px 30px;
}

.button__check {
    position: relative;
    width: 100px;
    height: 30px;
    background: #ea811758;
    color: #ea8017;
    border: 2px solid #ea8017;
    border-radius: 4px;
    cursor: pointer;
}

.button__check:active {
    background: #17ea3058;
    color: #17ea29;
    border: 2px solid #17ea29;
    cursor: pointer;
}

.icon__check {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


